* {
  margin: 0;
  padding: 0;
}
/* font */
@font-face {
  font-family: "Rubik";
  src: url("/src/asset/font/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/src/asset/font/Poppins/Poppins-Regular.ttf");
}
main {
  width: 100%;
  display: flex;
  height: 1628px;
}
/* aside */
.aside-img {
  flex: 1;
}
.imgside {
  width: 100%;
  height: 100%;
}
/* mainsection */
.main-section-fw {
  flex: 1;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 168px auto auto;
}
/* header logo */
.header-logo-fw {
  display: flex;
  grid-column: 1/3;
  font-family: "Rubik";
  justify-content: center;
  width: 100%;
}
.logo-img-sign-fw {
  width: 30px;
  height: 33px;
  margin-top: 55px;
}
.logo-text-sign {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #0b132a;
  margin-top: 59.12px;
  margin-left: 15px;
}

/* header title */
.title-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #6a4029;
  margin-top: 55px;
  text-align: center;
}

/* form */
.form-body {
  grid-column: 1/3;
}
.form-main {
  padding: 0 3%;
}
.title-form-forget {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 78px;
  text-align: center;
  color: #000000;
}

.text-form-forget {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}
.fp-input-form {
  margin-top: 99px;
}
.form-text {
  margin-top: 32px;
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f5665;
}
.form-input-sign-fp {
  background: #ffffff;
  border: 1px solid #4f5665;
  color: #9f9f9f;
  height: 90px;
  border-radius: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  padding: 0px 30px;
}

.forgetpass-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #6a4029;
  margin-top: 19px;
}
.form-btn-sign {
  border: none;
  background: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  border-radius: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  height: 75px;
  color: #6a4029;
  margin-top: 47px;
  text-decoration: none;
}
.form-btn-sign:hover {
  color: #6a4029;
}
/* notif forget pass */
.notif-forgot-pass {
  margin-top: 62px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.form-btn-google {
  border: none;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  height: 75px;
  color: #000000;
  margin-top: 26px;
}
.form-btn-login {
  border: none;
  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
  border-radius: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  height: 75px;
  color: #ffffff;
  margin-top: 42px;
  text-decoration: none;
}
.form-btn-login:hover {
  color: #ffffff;
}
.has-account {
  display: flex;
  column-gap: 15px;
  align-items: center;
  padding-top: 55px;
}

.has-account-text {
  flex: 3;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  top: 7px;
  line-height: 30px;
  text-align: center;
  color: #9f9f9f;
}

.underline {
  flex: 1;
  height: 1px;
  border: 2px solid #c4c4c4;
}

/* side info */
.side-info {
  grid-column: 1/3;
  display: flex;
  background: #f8f8f8;
  width: 100%;
  column-gap: 20%;
}
/* info left */

.info-left-sign {
  flex: 1;
  padding-top: 75px;
}

.info-left-sign-head {
  display: flex;
}

.info-left-sign-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-left: 60px;
}
.info-left-sign-icon {
  display: flex;
  margin-left: 40px;
}
.imgvektor-sign {
  height: 30.600006103515625px;
  width: 30.600006103515625px;
  border-radius: 20px;
  background-color: #6a4029;
  margin-left: 20px;
}
.vimg-sign {
  height: 33.600006103515625px;
  width: 33.600006103515625px;
  border-radius: 0px;
  color: #6a4029;
}
.info-left-sign-foot {
  padding-top: 30px;
  padding-left: 60px;
}
.foot-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.info-right-sign {
  flex: 1;
  padding-top: 85px;
  width: 100%;
}
.info-right-sign-body {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
}
.info-right-sign-text-head {
  grid-column: 1/3;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
.info-right-sign-text-last {
  grid-column: 1/3;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4f5665;
}
.info-right-sign-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4f5665;
}

/* responsive tablet */
@media only screen and (max-width: 950px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .aside-img {
    max-height: 450px;
  }
  .main-section-fw {
    height: auto;
    grid-template-columns: auto auto;
    grid-template-rows: 150px auto auto;
    padding-bottom: 150px;
    background: #f8f8f8;
  }
  .header-logo-fw {
    background-color: white;
  }
  .header-title {
    background-color: white;
  }
  .logo-img-sign-fw {
    margin-left: 40px;
    margin-top: 40px;
  }
  .logo-text-sign {
    margin-top: 44.12px;
  }
  .title-text {
    margin-top: 40.12px;
    text-align: center;
    margin-left: 15px;
  }
  .form-body {
    background-color: white;
    padding-bottom: 50px;
  }
  .form-main {
    padding: 0 40px;
  }
  .form-text {
    font-size: 18px;
    margin-top: 20px;
  }
  .form-input-sign-fp {
    font-size: 18px;
    height: 65px;
    border-radius: 18px;
  }
  .forgetpass-text {
    font-size: 18px;
    margin-top: 15px;
  }
  .form-btn-sign {
    font-size: 18px;
    height: 65px;
    border-radius: 18px;
    margin-top: 37px;
  }
  .form-btn-google {
    font-size: 16px;
    height: 65px;
    border-radius: 18px;
    margin-top: 27px;
  }
  .img-google {
    max-width: 17px;
    width: 27px;
    height: 28px;
    max-height: 18px;
  }
  .form-btn-login {
    font-size: 18px;
    height: 65px;
    border-radius: 18px;
    margin-top: 32px;
  }
  .has-account-text {
    font-size: 15px;
    flex: 2;
  }
  .underline {
    border: 1px solid #c4c4c4;
  }
  .side-info {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    column-gap: 5%;
    padding-top: 50px;
  }
  .info-left-sign {
    flex: 1;
    padding: 40px;
    padding-top: 35px;
  }
  .info-left-sign-head {
    display: flex;
    margin-left: -40px;
  }
  .info-left-sign-text {
    margin-left: 0px;
  }
  .info-left-sign-icon {
    margin-left: 0px;
  }
  .imgvektor-sign {
    margin-left: 0px;
    margin-right: 20px;
  }
  .info-left-sign-foot {
    padding-top: 20px;
    padding-left: 0px;
  }

  .info-right-sign {
    flex: 1;
    padding-top: 55px;
    padding: 30px;
    padding-top: 30px;
  }
  .info-right-sign-body {
    margin-top: 20px;
  }
}
/* responsive tablet */

/* responsive mobile */
@media only screen and (max-width: 650px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .aside-img {
    max-height: 350px;
  }
  .main-section-fw {
    grid-template-columns: auto auto;
    grid-template-rows: 130px auto auto;
    padding-bottom: 0px;
  }
  .logo-img-sign-fw {
    margin-left: 30px;
    margin-top: 30px;
  }
  .logo-text-sign {
    margin-top: 34.12px;
  }
  .title-text {
    margin-top: 30.12px;
  }
  .form-main {
    padding: 0 30px;
  }
  .form-text {
    font-size: 15px;
    margin-top: 10px;
  }
  .forgetpass-text {
    font-size: 15px;
    margin-top: 8px;
  }
  .form-input-sign-fp {
    font-size: 15px;
    height: 50px;
    border-radius: 15px;
  }
  .form-btn-sign {
    font-size: 15px;
    height: 50px;
    border-radius: 15px;
    margin-top: 37px;
  }
  .form-btn-google {
    font-size: 14px;
    height: 50px;
    border-radius: 15px;
    margin-top: 27px;
  }
  .img-google {
    max-width: 17px;
    max-height: 18px;
  }
  .form-btn-login {
    font-size: 15px;
    height: 50px;
    border-radius: 15px;
    margin-top: 32px;
  }
  .has-account-text {
    font-size: 13px;
    flex: 3;
  }

  .underline {
    border: 1px solid #c4c4c4;
  }
  .side-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 10%;
    margin-top: 50px;
  }
  .info-left-sign {
    flex: 1;
    padding: 30px;
    padding-top: 10px;
  }
  .info-left-sign-head {
    display: flex;
    margin-left: -30px;
  }
  .info-left-sign-text {
    margin-left: 0px;
  }
  .info-left-sign-icon {
    margin-left: 0px;
  }
  .imgvektor-sign {
    margin-left: 0px;
    margin-right: 20px;
  }
  .info-left-sign-foot {
    padding-top: 20px;
    padding-left: 0px;
  }

  .info-right-sign {
    flex: 1;
    padding-top: 55px;
    padding: 30px;
    padding-top: 15px;
  }
  .info-right-sign-body {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
/* responsive mobile */

/* responsive mobile small resolution */
@media only screen and (max-width: 340px) {
  .main-section-fw {
    flex: 1;
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
  .header-logo-fw {
    grid-column: 1/3;
  }
  .header-title {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    width: 100%;
  }
  .title-text {
    text-align: center;
  }
}

/* responsive mobile small resolution*/
