* {
  margin: 0;
  padding: 0;
}
/* font */
@font-face {
  font-family: "Rubik";
  src: url("/src/asset/font/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/src/asset/font/Poppins/Poppins-Regular.ttf");
}
/* navbar */
.navbar-menu {
  padding: 40px 0;
}
/* nabar logo */
.logo-img-nav {
  width: 30px;
  height: 33px;
}
.logo-text-nav {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar {
  display: flex;
  width: 52%;
  justify-content: center;
  padding: 0 8%;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  width: 84%;
}
.nav-text-nav {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
}
.text-active {
  font-weight: bold;
  color: #6a4029;
}
.nav-sign-in {
  display: flex;
  justify-content: end;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  width: 84%;
}
/* nabar logo */
.icon-nav {
  width: 30px;
  height: 30px;
  margin-left: 34px;
}
.icon-chat {
  display: flex;
}
.icon-chat > img {
  margin-left: -5px;
}
.icon-chat > p {
  margin-top: -7px;
}

.icon-find {
  margin-right: 34px;
}

.icon-chat-text {
  width: 15px;
  height: 15px;
  background: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 9px;
  color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.nav-photos {
  width: 34px;
  height: 34px;
  border: 3px solid #6a4029;
  filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
  border-radius: 50%;
}
.nav-login {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
}
.nav-signup {
  background: #ffba33;
  border-radius: 50px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #6a4029;
  height: 45px;
  padding: 13px 45px;
}
/* nabar logo */

/* navbar */

/* Tablet responsive */
@media only screen and (max-width: 975px) {
  /* navbar */
  .menu-bar {
    padding: 0;
    padding: 0px 0px;
  }
  .nav-sign-in {
    width: 100%;
    justify-content: end;
  }
  .profile-menu-sign {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .profile-menu-sign > li {
    margin-left: 7.5%;
  }
  .icon-nav {
    margin-left: 0px;
    /* position: absolute; */
    top: 290px;
  }
  .icon-find {
    margin: 0;
    padding: 0;
    margin-right: 34px;
    left: 10%;
  }
  .icon-chat {
    margin-right: 15px;
  }
  .icon-chat-text {
    margin-left: -7%;
    z-index: 99;
  }
  /* navbar */
}

/* mobile responsive */
@media only screen and (max-width: 650px) {
  /* navbar */
  .navbar-menu {
    padding: 20px 0;
  }
  .icon-nav {
    top: 267px;
  }
  .icon-find {
    left: 20%;
  }
  .nav-photos {
    left: 50%;
  }
  .icon-chat {
    left: 37%;
  }
  .icon-chat-text {
    position: absolute;
    left: 35%;
  }
  .menu-bar {
    padding: 0;
    padding: 0px 0px;
  }
  /* navbar */
}
