* {
  margin: 0;
  padding: 0;
}
/* font */
@font-face {
  font-family: "Rubik";
  src: url("/src/asset/font/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/src/asset/font/Poppins/Poppins-Regular.ttf");
}

/* history body */
.history-body {
  min-height: 1102px;
  height: auto;
  background-image: url("../../asset/img/historyPage/bghistory.png");
  background-size: cover;
}
.history-bought-products {
  min-height: 1102px;
}
.history-bought-head {
  height: 272px;
  padding-top: 107px;
}
.history-bought-head > h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.select-history {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.delete-history {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: end;
  text-decoration-line: underline;
  color: #ffffff;
}
/* history-list */
.history-bought-list {
  min-height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 71px;
}
.box-history {
  height: 126px;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  /* flex: 1; */
  width: 32%;
  margin-bottom: 26px;
  padding: 20px 1%;
}
.box-history-img > img {
  height: 83.67px;
  border-radius: 50%;
}
.box-history-title > h5 {
  font-family: "Poppins";
  font-style: bold;
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
  color: #000000;
  margin: 0;
}
.box-history-info > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  color: #895537;
}
.check-history-product {
  background: #f5f5f8;
  border: 2px solid #6a4029;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}
/* .check-history-product:checked[type="checkbox"] {
  background: #6a4029;
} */

/* history-list */
/* history body */
@media only screen and (max-width: 1200px) {
  /* history-list */
  .box-history {
    width: 48%;
  }
  /* history-list */
}
/* responsive tablet */

@media only screen and (max-width: 1000px) {
  .history-bought-head {
    min-height: 272px;
    padding: 50px 0;
  }
  /* history-list */
  .history-bought-list {
    justify-content: center;
    padding-bottom: 71px;
  }
  .box-history {
    width: 90%;
  }
  /* history-list */
}
/* responsive tablet */
@media only screen and (max-width: 650px) {
  .history-bought-head {
    min-height: 272px;
    padding: 50px 0;
  }
  /* history-list */
  .history-bought-list {
    justify-content: center;
    padding-bottom: 71px;
  }
  .box-history {
    width: 90%;
  }
  .box-history-title > h5 {
    font-size: 18px;
  }
  .box-history-info > p {
    font-size: 15px;
  }
  /* history-list */
}
/* responsive tablet */
