* {
  margin: 0;
  padding: 0;
}
/* font */
@font-face {
  font-family: "Rubik";
  src: url("/src/asset/font/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/src/asset/font/Poppins/Poppins-Regular.ttf");
}

/* products-body */
.products-body {
  width: 100%;
  min-height: 1039px;
  height: auto;
}
.promo {
  height: auto;
  min-height: 1039px;
}
.promo-head {
  padding-top: 25px;
}
.promo-head > h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #6a4029;
}
.promo-head > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  padding: 0 20%;
  padding-top: 30px;
}
.promo-body {
  height: 581px;
}
.promo-info {
  position: absolute;
  width: 300px;
  height: 500px;
  background-color: #ffcb65;
  border-radius: 20px;
  z-index: 3;
}
.promo-info-1 {
  width: 300px;
  height: 430px;
  border-radius: 20px;
  position: absolute;
  left: 8%;
  z-index: 2;
  background: #000000;
  border-radius: 20px;
}
.promo-info-2 {
  width: 300px;
  height: 338px;
  border-radius: 20px;
  position: absolute;
  left: 10%;
  z-index: 1;
  background: #895537;
  border-radius: 20px;
}
.promo-info-head {
  width: 100%;
  height: 350px;
  padding-top: 30px;
  border-bottom: 1px dashed #000000;
  padding-bottom: 27px;
}
.promo-info-head > img {
  height: 180px;
  width: 50%;
  border-radius: 50%;
}
.promo-info-head > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 101.34%;
  text-align: center;
  padding-top: 20px;
  color: #000000;
}
.promo-info-head > p {
  padding-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 101.34%;
  text-align: center;
  color: #000000;
  margin: 0 10%;
}

.promo-info-foot {
  background: #ffcb65;
  height: 151px;
  padding-top: 27px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.promo-info-foot > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 101.34%;
  text-align: center;
  color: #000000;
}
.promo-info-foot > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 101.34%;
  text-align: center;
  color: #000000;
}
.promo-info-foot > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 101.34%;
  text-align: center;
  color: #000000;
}

.promo-foot {
  height: 300px;
  width: 100%;
}
.promo-foot > section {
  width: 284px;
  height: 64px;
  background: #6a4029;
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
}
.promo-foot-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #4f5665;
  padding-top: 100px;
  margin-left: 20px;
}
.promo-foot-text > ul {
  list-style: decimal;
}
.promo-foot-text > ul > span {
  margin-left: -13px;
}

/* products */
.products-container {
  height: auto;
  min-height: 1039px;
}
.products-favorite-head {
  height: 65px;
}
.products-menu {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  list-style: none;
}
.products-menu > li > button {
  background-color: white;
  border: none;
  cursor: pointer;
}
.list-menu {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
  text-decoration: none;
  transition: 0.5s;
}
.list-menu:hover {
  color: #4f5665;
}
.menu-active {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #6a4029;
}
.menu-active:hover {
  color: #6a4029;
}
.list-active {
  padding: 0 2%;
  border-bottom: 2px solid #6a4029;
  box-shadow: 0px 6px 20px -10px rgba(106, 64, 41, 0.67);
}
.products-options {
  font-family: "Rubik";
}
.select-form-sort {
  height: 50px;
  max-height: 50px;
}
.products-options-btn {
  color: #6a4029;
  background-color: #ffba33;
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  height: 50px;
}
.products-list-box {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 4%;
  margin-right: 5%;
  margin-left: 4%;
  padding-top: 60px;
}
.box-products {
  height: 232px;
  border: 2px solid white;
  width: 22%;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 30px;
  margin-bottom: 80px;
}
.box-head {
  width: 100%;
  height: 143.89px;
  margin-top: -25%;
}
.box-head > img {
  height: 100%;
  width: 80%;
  border-radius: 50%;
}
.box-products > h5 {
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bolder;
  font-size: 22px;
  line-height: 101.34%;
  text-align: center;
  color: #000000;
  height: 67px;
  display: flex;
  align-items: center;
  margin: 0 15%;
}
.box-products > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: #6a4029;
}
.not-found-error > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bolder;
  font-size: 52px;
  line-height: 101.34%;
  text-align: center;
  color: #000000;
}
.not-found-error > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: #6a4029;
}
/* products */
/* products-body */

/* table responsiv */
@media only screen and (max-width: 1000px) {
  /* products body */
  .products-container {
    min-height: auto;
  }
  .products-menu {
    margin-top: 0;
    margin-right: 5%;
  }
  .promo-info-1 {
    left: 40%;
  }
  .promo-info-2 {
    left: 45%;
  }
  .promo-foot-text {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  /* products */
  .list-menu {
    font-size: 18px;
  }
  .menu-active {
    font-size: 18px;
  }
  .products-list-box {
    height: auto;
    margin-right: 5%;
  }
  .box-products {
    width: 30%;
    margin-bottom: 80px;
  }
  .not-found-error > h5 {
    font-size: 32px;
  }
  .not-found-error > p {
    font-size: 16px;
  }

  /* products */
  /* products body */
}
/* table responsiv */
@media only screen and (max-width: 700px) {
  /* product body */
  .products-body > div > div {
    display: flex;
    flex-direction: column-reverse;
  }
  /* promo */
  .promo-info {
    width: 50%;
  }
  .promo-info-1 {
    width: 50%;
    left: 35%;
  }
  .promo-info-2 {
    width: 50%;
    left: 40%;
  }
  /* promo */
  .products {
    padding-top: 50px;
  }
  /* product body */
}

@media only screen and (max-width: 650px) {
  /* products body */
  /* promo */
  .promo-info {
    width: 50%;
  }
  .promo-info-1 {
    width: 50%;
    left: 35%;
  }
  .promo-info-2 {
    width: 50%;
    left: 40%;
  }
  .promo-info-head > img {
    height: 150px;
  }
  .promo-info-head > h5 {
    font-size: 19px;
  }
  .promo-info-head > p {
    font-size: 15px;
  }
  .promo-info-foot > h5 {
    font-size: 23px;
  }
  .promo-info-foot > section {
    width: 50%;
    height: 50px;
  }
  .promo-info-foot > p {
    font-size: 15px;
  }
  /* promo */
  .products-favorite-head {
    min-height: 65px;
    height: auto;
  }
  .products-menu {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .products-menu > li {
    flex-wrap: wrap;
    width: 45%;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
  .products-list-box {
    margin: 0 5%;
  }
  /* products body */
}

@media only screen and (max-width: 450px) {
  /* products body */
  /* promo */
  .promo-info {
    width: 65%;
    left: 15%;
  }
  .promo-info-1 {
    width: 65%;
    left: 20%;
  }
  .promo-info-2 {
    width: 65%;
    left: 25%;
  }
  .products-menu {
    margin: 0 10%;
  }
  .products-menu > li {
    width: 75%;
  }
  .box-products {
    width: 45%;
  }
  .box-products > h5 {
    font-size: 19px;
  }
  .not-found-error > h5 {
    font-size: 25px;
  }
  .not-found-error > p {
    font-size: 15px;
  }
  .products-options-btn {
    width: 100%;
    margin: 20px 0;
  }
  .options-product-list {
    flex-direction: column;
  }

  /* products body */
}
