* {
  margin: 0;
  padding: 0;
}
/* font */
@font-face {
  font-family: "Rubik";
  src: url("/src/asset/font/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/src/asset/font/Poppins/Poppins-Regular.ttf");
}
.product-details-body {
  min-height: 1098px;
  height: auto;
  background-color: white;
}
.product-details-box {
  min-height: 1098px;
  height: auto;
  display: flex;
  column-gap: 5%;
  justify-content: space-between;
}
/* left */
.product-detail-left {
  flex: 1;
}
.product-detail-left-head {
  padding-top: 38px;
  height: 128px;
}
.link-products-detail {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4f5665;
  text-decoration: none;
}
.link-products-detail:hover {
  color: #ffba33;
}
.span-product-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  color: #6a4029;
  font-size: 20px;
  line-height: 24px;
}
.product-detail-left-body {
  height: 790px;
}
.product-detail-left-body > section {
  margin: 23px 26px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffffff;
  border: 6px solid #ffba33;
  position: absolute;
  z-index: 3;
}
.product-detail-left-body > section > img {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 4;
}
.product-detail-img {
  width: 100%;
  height: 100%;
}

.product-detail-left-foot {
  height: 180px;
}
.product-detail-left-foot {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 138.84%;
  letter-spacing: 0.02em;
  color: #000000;
  padding-right: 20%;
  padding-top: 52px;
}
/* right */
.product-detail-right {
  flex: 1;
}
.product-detail-right-head {
  padding-top: 38px;
  height: 128px;
}
.step-order-product {
  padding-left: 5%;
}
.step-icon {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffba33;
  border: 10px solid #6a4029;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-icon > img {
  width: 23px;
  height: 23px;
  background-color: #6a4029;
  border-radius: 50%;
  padding-left: 2.5%;
}
.step-line {
  border: 2px solid #e0e0e2;
}
.step-order-product-text {
  column-gap: 17%;
}
.step-order-product-text > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.product-detail-right-body {
  height: auto;
}
.detail-name-product {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 98px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.detail-price-product {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 38px;
}
.detail-desc-product {
  padding-top: 39px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: #000000;
}
.input-edit-detail-product {
  width: 100%;
  border: none;
  border-bottom: 1px solid #9f9f9f;
}
.product-detail-right-foot {
  height: 560px;

  padding-top: 65px;
}
.input-form-detail {
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  height: 83px;
  padding-left: 5%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: #9f9f9f;
  margin-bottom: 33px;
}
.input-number-quantity {
  background-color: #ffffff;
  height: 83px;
  padding: 0 10%;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  margin-bottom: 20px;
}
.input-number-quantity > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 139.8%;
  letter-spacing: 0.65em;
  color: #9f9f9f;
}
.btn-plus-quantity,
.btn-min-quantity {
  cursor: pointer;
}
.btn-plus-quantity:hover,
.btn-min-quantity:hover {
  color: #ffba33;
}
.btn-product-detail-cart {
  height: 83px;
  border: none;
  background: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.29);
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #6a4029;
  width: 100%;
}
.btn-product-detail-checkout {
  margin-top: 37px;
  height: 83px;
  border: none;
  background: #6a4029;
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  width: 100%;
}

/* responsive tablet */
@media only screen and (max-width: 1000px) {
  .product-details-box {
    flex-direction: column;
  }
  /* right */
  .step-order-product {
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }
  .step-order-product-text {
    column-gap: 15%;
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 950px) {
  .product-details-box {
    flex-direction: column;
  }
  /* right */
  .step-order-product-text {
    column-gap: 15%;
  }
  .product-detail-left-body {
    height: 350px;
  }
}
/* responsive mobile */
@media only screen and (max-width: 470px) {
  .product-detail-left-foot {
    padding-right: 0;
  }
  .step-order-product {
    padding: 0 5%;
    width: 100%;
    justify-content: center;
  }
  .step-order-product-text {
    margin-left: -3%;
  }
  .step-order-product-text > p {
    font-size: 15px;
  }

  .step-line {
    border: 2px solid #e0e0e2;
    min-width: 30px;
    max-width: 75px;
  }
}
@media only screen and (max-width: 390px) {
  .step-order-product-text {
    margin-left: -7%;
  }
}

/* responsive mobile */
